* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}


.container {
    width: 360px;
    height: 640px;
    background-color: #041e42;
}

.header {
    font-weight: bold;
    color: white;
    text-align: center;
    border-bottom: 2px solid #0085ca;
    display: block;
    margin: 0 auto;
    height: 75px;
}

h1 {
    font-style: italic;
}

h2 {
    color: #0085ca;
}

form, .content {
    width: 360px;
    height: 475px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.login {
    text-align: center;
    margin-top: 20px;
}

.login label {
    font-size: 24px;
}

.uniform {
    display: flex;
    justify-content: center;
    text-align: center;
}

.holiday {
    text-align: center;
}

.holiday input {
    margin: 10px 0 10px 0;
}

.holiday input[type=radio] {
    margin-right: 5px;
}

.holiday span label {
    color: #fcaf17;
}

select { 
    margin-top: 10px;
}

.item, .qty, .size {
   margin-right: 15px;
}

.btn {
    text-align: center;
}

button[type=button] {
    background-color: #fcaf17;
    margin-bottom: 20px;
}

input[type=text], input[type=password] {
    width: 80%;
    height: 35px;
    font-size: 16px;
    margin: 20px 0px;
}

input:active {
    border-color: #0085ca;
}

button, button > a {
    width: 60%;
    height: 35px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: #0085ca;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

.login p a {
    color: #fcaf17;
}

.login p a:hover {
    color: #de772e;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    font-weight: bold;
}

.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.micon {
    width: 31%;
    height: 100px;
    text-align: center;
    margin-top: 10px;
}

.mtext {
    color: white;
    text-align: center;
    margin-top: 5px;
}
